:root {
    --color-black: #121213;
    --color-white: #fff;
    --color-green: #538d4e;
    --color-yellow: #B59F3B;
    --color-gray-dark: #3A3A3C;
    --color-gray-light: #818384;
}

html { box-sizing: border-box;}
*,*:before,*:after {box-sizing: inherit;}

body {
    background: var(--color-black);
    color: var(--color-white);

    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;

    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

header {
    border-bottom: 1px solid var(--color-gray-dark);
}

h1 {
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board, #keyboard {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-transform: uppercase;
}

#board ul,
#keyboard ul {
    display: flex;
    list-style: none;
    gap: 6px;
    padding: 0;
    margin: 0;
}

[data-status],
[data-key] {
    border: 2px solid var(--color-gray-dark);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 4rem;
    width: 4rem;

    user-select: none;
}

.toaster {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    width: fit-content;
}

.toaster ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.toast {
    background: var(--color-white);
    border-radius:  4px;
    color: var(--color-black);
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.fade { opacity: 0;}

#keyboard {
    gap: 8px;
    padding-bottom: 10px;
}

#keyboard ul {
    justify-content: center;
}

[data-key] {
    background: var(--color-gray-light);
    border: none;
    border-radius: 4px;

    font-size: 1rem;
    height: 3.8rem;
    width: 2.8rem;
    cursor: pointer;

    transition: all .3s ease-in-out;
}

[data-key='Enter'] {width: 8rem;}

[data-key='Backspace'] {
    width: 4rem;
}